POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="simple_notebooks"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/simple_notebooks"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
